<div class="container-fluid" *ngIf="isLoggedIn">
  <form>
    <div class="form-group">
      <label for="inputTitle">Title:</label>
      <input type="text" [(ngModel)]="title" name="inputTitle" id="inputTitle" class="form-control" placeholder="Title...">
    </div>
    <div class="form-group">
      <label for="inputContent">Message:</label>
      <textarea [(ngModel)]="content" name="inputContent" id="inputContent" class="form-control" placeholder="Say something..."></textarea>
    </div>
    <button id="postButton" class="btn btn-primary" type="submit" value="Add a Post" (click)="onAddPost()">Post!</button>
  </form>
</div>

<div class="container-fluid" *ngIf="!isLoggedIn">
  <h3>Have something good to say? <a routerLink="/login">Log in</a> or <a routerLink="/sign-up">sign up</a>!</h3>
</div>

<hr>

<div class="container-fluid" *ngFor="let post of posts | async">
  <div class="panel panel-default" (click)="onGetPost(post.id)">
    <div class="panel-heading"><h4 class="postedTitle">{{ post.data.title }}</h4></div>
    <div class="panel-body">
      <em class="postedUsername post-user-and-delete">by: {{ post.data.username }}</em>
      <p class="postedMessage">{{ post.data.content }}</p>
    </div>
    <div class="panel-footer" *ngIf="userEmail === 'admin@admin.com' || post.data.email === userEmail">
      <a class="deletePost post-user-and-delete" (click)="onDeletePost(post.id)"><p class="">delete</p></a>
    </div>
  </div>
</div>

<h4>Focused post:</h4>

<h3 id="highlightedTitle">{{ (singlePost | async)?.title }}</h3>
<strong id="highlightedUsername">{{ (singlePost | async)?.username }}</strong>
<p id="highlightedMessage">{{ (singlePost | async)?.content }}</p>
