<div class="container-fluid" *ngIf="isLoggedIn">
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <img class="img-responsive" id="chatterIcon" src="../../assets/pictures/chatter_icon.jpg">
    </div>
    <div class="col-xs-8 col-sm-10">
      <h3 id="userGreeting">
        Hi there! Go ahead and say something:
      </h3>
    </div>
  </div>
  <form>
    <div class="form-group">
      <label for="newPostTitle">Title:</label>
      <input type="text" [(ngModel)]="title" name="newPostTitle" id="newPostTitle" class="form-control" placeholder="Title...">
    </div>
    <div class="form-group">
      <label for="newPostContent">Message:</label>
      <textarea [(ngModel)]="content" name="newPostContent" id="newPostContent" class="form-control" placeholder="Say something..."></textarea>
    </div>
    <button id="postButton" class="btn btn-primary" type="submit" value="Add a Post" (click)="onAddPost()">Post!</button>
  </form>
</div>

<div class="container-fluid" *ngIf="!isLoggedIn" id="notLoggedInMessage">
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <img class="img-responsive" id="chatterIcon" src="../../assets/pictures/chatter_icon.jpg">
    </div>
    <div class="col-xs-8 col-sm-10">
      <h3 id="noUserGreeting">
        Have something to say? <a routerLink="/login" class="messageBoardLink">Log in</a> or <a routerLink="/sign-up" class="messageBoardLink">sign up</a>!
      </h3>
    </div>
  </div>
</div>

<hr>

<div class="container-fluid" *ngFor="let post of posts | async">
  <div class="panel panel-default postPanel" (click)="onGetPost(post.id)">
    <div class="panel-heading"><h4 class="postedTitle">{{ post.data.title }}</h4></div>
    <div class="panel-body">
      <em class="postedUsername">by: {{ post.data.username }}</em>
      <p class="postedMessage">{{ post.data.content }}</p>
    </div>
    <div class="panel-footer" *ngIf="userEmail === 'admin@admin.com' || post.data.email === userEmail">
      <a class="deletePost" (click)="onDeletePost(post.id)">delete</a>
    </div>
  </div>
</div>

<h4>Focused post:</h4>

<h3 id="highlightedTitle">{{ (singlePost | async)?.title }}</h3>
<strong id="highlightedUsername">{{ (singlePost | async)?.username }}</strong>
<p id="highlightedMessage">{{ (singlePost | async)?.content }}</p>
