<div class="alert alert-danger"
  *ngIf="(userPasswordChange.get('oldPassword').hasError('required')
  && userPasswordChange.get('oldPassword').touched)">
  Please enter your current password
</div>

<div class="alert alert-danger"
  *ngIf="(userPasswordChange.get('newPassword').hasError('required')
  && userPasswordChange.get('newPassword').touched)
  || (userPasswordChange.get('newPassword').hasError('minlength')
  && userPasswordChange.get('newPassword').touched)">
  You must enter a new password at least 6 characters long
</div>

<div class="alert alert-danger"
  *ngIf="passwordChangeError != null">
  {{passwordChangeError}}
</div>

<form class="form-horizontal" [formGroup]="userPasswordChange" (ngSubmit)="onUpdatePassword()">
  <div class="form-group">
    <label for="oldPassword"
           class="control-label col-sm-2">
      Current:
    </label>
    <div class="col-sm-10">
      <input type="password"
             formControlName="oldPassword"
             [formGroup]="userPasswordChange"
             class="form-control"
             id="oldPassword">
    </div>
  </div>
  <div class="form-group">
    <label for="newPassword"
           class="control-label col-sm-2">
      New:
    </label>
    <div class="col-sm-10">
      <input type="password"
             formControlName="newPassword"
             [formGroup]="userPasswordChange"
             class="form-control"
             id="newPassword">
    </div>
  </div>
  <div class="col-sm-offset-2 col-sm-10">
    <button class="btn btn-primary"
    [disabled]="userPasswordChange.invalid">
      Update
    </button>
    <button type="button" class="btn btn-primary" (click)="onClosePasswordForm()">
      Cancel
    </button>
  </div>
</form>
<br>
<br>
